nav {
  display: flex;
  align-items: flex-start;
}
a {
  display: flex;
  justify-content: flex-start;
}
.navbar-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  justify-content: flex-start;
}

main {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}
