nav {
  display: flex;
  align-items: flex-start;
}
a {
  display: flex;
  justify-content: flex-start;
}
.navbar-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  justify-content: flex-start;
}
main {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-perfil {
  height: 30% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
