nav {
  display: flex;
  align-items: flex-start;
}
a {
  display: flex;
  justify-content: flex-start;
}
.navbar-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  justify-content: flex-start;
}
main {
  margin-top: 5%;
  display: flex;
}

.btn-xs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.5px;
}
