main {
  margin-top: 2%;
  margin-bottom: 2%;
}
nav {
  display: flex;
  align-items: flex-start;
}
a {
  display: flex;
  justify-content: flex-start;
}
.navbar-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  justify-content: flex-start;
}
